body{
    margin: 0%;
    padding: 0%;
}

.main_section{
    width: 100%;
    height: 100vh;
}

.main_section .section_1 {
    width: 70%;
    height: 80%;
    position: absolute;
    top: 10%;
    bottom: 10%;
    left: 15%;
    right: 15%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
}

.toolbar {
    background-color: rgb(26, 116, 119);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
}

.toolbar_icon {
    margin-right: auto;
    display: flex;
    color: white;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
}

ul {
    margin-left: auto;
    list-style: none;
    display: flex;
}

li {
    margin-left: 20px;
    color: white;
}